

.home-content{
    font-family: 'Orbitron', sans-serif;
    padding-top: 50px;
    padding-bottom: 80px;

 
}

.home-content h1{
    font-size: 36px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(244, 244, 244));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
 
}

.home-content p{
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
}



.home-content h1 span{
    background: -webkit-linear-gradient(rgb(196, 25, 25), rgb(196, 25, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content button{
    border: 1px solid rgb(196, 25, 25);
    color:  rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 4px;
    border-radius: 2px;
    min-width: 100%;
    padding: 25px;
    font-size: 15px;  
}




@media only screen and (max-width: 770px) {
    .home-content{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .home-content h1{
        font-size: 36px;
        
    }
    
   .home-content button{
    margin-bottom: 20px;
    width: 70vw;
    padding: 15px;
   }
   
}
    