{% extends 'base.html' %}
{% block link %}

{% endblock%}
{% block title %} Road to Greatest Of All Time {% endblock %}
{% block content %}

<div class="container-fluid my-lg-5">
    <div class="row">
        <div class="col-sm-5 bg-danger">
          <h1 class="p-5 my-5 home-content ">Dowiedz się jak cwiczyc aby uzyskać maximum możliwości</h1>
          <p></p>
          <button></button>
          <button></button>
        </div>
        <div class="col-sm-7 bg-primary">
          2 of 2
        </div>
    </div>
</div>







{% endblock %}