{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css') }}" />

{% endblock%}
{% block title %} Road to Greatest Of All Time {% endblock %}
{% block content %}
<main>
  <div class="container-fluid my-5 home-content ">
    <div class="row">
      <div class="col-sm-6 text-center py-5">
        <h1 class="my-4">Wyciśnij ze swojego treningu maxiumum! </h1>
        <p class="text-secondary ">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <button>Zaczynam swoje #RoadToGoat</button>
      </div>
      <div class="col-sm-6 text-center">
        <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div>
  </div>
</main>






{% endblock %}