{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css') }}" />

{% endblock%}
{% block title %} Road to Greatest Of All Time {% endblock %}
{% block content %}
<main>
  <div class="container-fluid my-5 home-content">
    <div class="row ">
      <div class="col-lg-6 text-center my-5">
        <h1 class="">Wyciśnij ze swojego treningu <span >maximum!</span></h1>
        <p class="text-secondary ">Sprawdź nasze darmowe plany treningowe i progresuj szybciej</p>
        <div class="container-fluid">
          <div class="row ">
            <div class="col-md-4">
              <button type="button" class="btn btn1 btn btn-outline-dark  ">KALISTENIKA</button> 
            </div>
            <div class="col-md-4 ">
              <button type="button" class="btn btn2 btn-outline-dark  ">TRÓJBÓJ</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn3 btn-outline-dark">HYBRYDA</button>
            </div>
          </div>
        </div>        
      </div>
      <div class="col-lg-6 p-3 video-container text-center">
        <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div>
  </div>
</main>






{% endblock %}